.my-5{
    padding: 2rem;
    background-color: rgb(246, 245, 245);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  }
  
  .form-control {
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(22, 21, 21, 0.1);
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    transition: all 0.3s;
    &:focus {
      outline: none;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
  }
  
  .btn {
    background-color: rgb(103, 103, 104);
    border-radius: 50px;
    border: none;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    transition: all 0.3s;
    &:hover {
      background-color: rgb(238, 238, 247);
      cursor: pointer;
    }
  }