.m-3 {
    margin: 1.5rem;
    border-width: 2px;
    border-color: black;
}

.my-4{
    justify-content: center;
    justify-content: space-between;
}
  
  .w-50 {
    width: 50%;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-light {
    background-color: rgb(195, 190, 190);
    border: 1px solid #ccc;
  }
  
  .my-1 {
    margin-top: 0.25rem;
  }